body ul {
	padding-left: 0;
}

.banner-card .card-body {
	padding: 0;
	position: relative;
	overflow: hidden;
	height: 410px;
}

.card {
	border: 0 !important;
}

.banner-card .card-body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 0%, black 100%);
	border-radius: 5px;
}

.banner-card .card-body img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius: 5px;
}

.banner-card .card-body .banner-card-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 20px 20px 25px 40px;
}

.banner-card .card-body .post-category {
	display: block;
	font-weight: 600;
	font-size: 0.75rem;
	color: #07bbec;
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
}

.banner-card .card-body .card-title {
	font-weight: 600;
	font-size: 1.6rem;
	color: #ffffff;
	position: relative;
	z-index: 1;
	line-height: 1.3;
}

.banner-card .card-body .card-title a {
	color: #ffffff;
}

.banner-card .card-body .post-author {
	font-weight: 500;
	font-size: 0.75rem;
	color: #ffffff;
	position: relative;
	z-index: 1;
}

.alert {
	position: absolute !important;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 300px;
	z-index: 9999;
}

#imagePreview {
	width: 300px;
}

.login-form {
	max-width: 465px;
	margin: auto;
	color: #343539;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.form-item:not(:last-child) {
	margin-bottom: 25px;
}

.form-label {
	font-size: 18px;
	color: var(--card-title);
	line-height: 1;
	margin-bottom: 10px;
}

.form-control {
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--light-bg);
	padding: 10px 20px;
	color: var(--card-title);
	font-size: 18px;
}

.form-signin {
	margin-top: 35px;
}

.form .btn-primary {
	width: 100%;
	height: 52px;
	border-radius: 26px;
}

.fa-circle {
	font-size: 12px;
}

.blink {
	animation: blink .9s linear infinite alternate;
}

@keyframes blink {

	from {
		opacity: 1;
	}

	to {
		opacity: .3
	}

}


#password-eye {
	width: 22px !important;
	text-align: center;
}


.frontend.header {
	top: 1rem;
	z-index: 99;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

nav {
	background: #ff5c04;
}

.frontend.header a {
	color: white;
}

.nav-list .active {
	color: #feeccc !important;
}
.header li{
	list-style-type: none;
}